.login-form {
	vertical-align: middle;
	text-align: center;
}

.login-form input{
	display: inline-block;
	width: 70%;
	margin: .6em;
	padding: 0.7em 1em;
	border: 1px solid #C8C8C8;
	border-radius: 4px;
}

.login-form input[type="submit"] {
	background-color: #A8CF45;
	color: #fff;
	font-weight: bold;
}