* {
	box-sizing: border-box;
}

body {
	font-family: Lato,Arial,sans-serif;
	color: #343434;
	border-top: 5px solid #00AFEF;
}

header {
	padding: 1em 3em;
}

.logo {
	display: inline-block;
	width: 35%;
	vertical-align: middle;
}

.menu {
	display: inline-block;
	width: 65%;
	position: relative;
	text-align: right;
} 

.menu li {
	list-style: none;
	display: inline-block;
	padding: 0 2em;
}

.menu a {
	text-decoration: none;
	color: #A8CF45;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 2em;
}

.menu a:hover {
	color: #00AFEF;
}

.main-section {
	background: url("../img/postit.jpg") no-repeat center top fixed;
	background-size: cover;
	opacity: 0.7;
}

.main-container {
	display: inline-block;
	width: 70%;
	padding: 5em;
	vertical-align: middle;
}

.main-container h2 {
	font-size: 3em;
	color: #343434;
	font-weight: bold;
	padding-bottom: 1em;
}

.main-container h3 {
	font-size: 2.5em;
	font-weight: bold;
}

.sign-container {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.sign-container a {
	background-color: #000;
	color: #00AFEF;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: 1em;
	font-size: 1.5em; 
}

.sign-container a:hover {
	background-color: #00AFEF;
	color: #000;
}