.highlight-section {
	background-color: #00AFEF;
	padding: 1em;
	color: #fff;
	font-size: 2.5em;
	text-align: center; 
}

.half-container {
	width: 50%;
	display: inline-block;
	padding: 2em;
	vertical-align: middle;
	text-align: center;
}